.nested-comment-system-wrapper {
  @apply mx-auto;
}

@media only screen and (min-width: 547px) {
  .hide-mobile-toolbox,
  .hide-mobile-toolbox-toogle {
    @apply hidden;
  }

  .show-tool {
    @apply flex;
  }
}

@media only screen and (min-width: 576px) {
  .nested-comment-system-wrapper {
    @apply max-w-[510px];
  }
}

@media only screen and (min-width: 768px) {
  .nested-comment-system-wrapper {
    @apply max-w-[690px];
  }
}

@media only screen and (min-width: 992px) {
  .nested-comment-system-wrapper {
    @apply max-w-[930px];
  }
}

@media only screen and (min-width: 1200px) {
  .nested-comment-system-wrapper {
    @apply max-w-[1110px];
  }
}

/* Vote Animation */
.add-vote-loading {
  stroke: var(--app-text-color-red);
  stroke-width: 1;
  stroke-dasharray: 54;
  stroke-dashoffset: 54;
  animation:
    add-vote 2s ease-in infinite,
    beat 0.8s linear 2s infinite;
}

.remove-vote-loading {
  animation: beat 0.8s linear infinite;
}

@keyframes add-vote {
  0% {
    stroke-dashoffset: 54;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
    color: var(--app-text-color-red);
  }
}

@keyframes beat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.9, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}
