@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-navlink-color: #4d5168;
  --app-text-color-red: #ff5454;
  --app-text-color-dark-gray: #333;
  --app-border-color-gray: #d8d8d8;
}

body {
  @apply bg-white text-gray-900;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Language Picker */
header #language-picker:checked ~ #languages-list {
  display: block;
}

#page-content {
  margin-top: 101px;
}
