@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg-color-primary: #faf9f6;
  --app-text-color-primary: #333333;

  --app-background-overlay-transparent-black: #0000009e;

  --app-text-color-red: #ff5454;
  --app-text-color-crimson: #ff204e;
  --app-text-color-red-orange: #ff5b3b;
  --app-text-color-bright-pink: #ff526e;
  --app-text-color-pinkish-red: rgba(255, 32, 78, 1);

  --app-text-color-stone-gray: #9d9d9d;
  --app-text-color-silver-gray: #1e0808;
  --app-text-color-darker-gray: #555;
  --app-text-color-muted: #948084;
  --app-text-color-neutral-gray: #c6c6c6;
  --app-text-color-dark-gray: #1f1f1f;

  --app-text-color-medium-dark-blue: #0b57d0;

  --app-border-color-medium-dark-gray: #747775;

  /* Nested Comment System Variables */
  --app-text-color-muted-blue-gray: #030304;
  --app-text-color-blue-gray: #687a86;
  --app-text-color-grayish-blue: #e7e9ee;
  --app-text-color-very-dary-steel-blue: #494e58;
  --app-text-color-medium-gray-blue: #7f919e;
  --app-text-color-light-blue-gray: rgba(60, 75, 120, 0.12);

  --app-border-color-grayish-blue: rgba(60, 78, 110, 0.18);
  --app-border-color-periwinkle: #9ca1de;
}

body {
  @apply bg-[var(--app-bg-color-primary)] text-[var(--app-text-color-primary)];
}

@layer utilities {
  .font-noto-sans-sc {
    font-family: Noto Sans SC;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Shadows */
  .soft-edge-shadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }

  .pink-lift-shadow {
    box-shadow: 0 3px 5px rgba(255, 32, 78, 0.3);
  }

  /* Admin Form */
  .admin-form-container {
    @apply soft-edge-shadow mx-auto w-[90%] max-w-[590px] rounded-lg bg-white p-5 text-sm md:text-base;
  }

  .admin-form-title {
    @apply select-none text-base font-bold text-gray-700;
  }

  .admin-form-button {
    @apply flex cursor-pointer items-center gap-2 rounded border border-gray-400 bg-white px-4 py-2 font-semibold text-gray-800 shadow hover:bg-gray-100;
  }

  .admin-form-label {
    @apply mb-2 block font-bold text-gray-700;
  }

  .admin-form-input-type-text {
    @apply w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow;
  }

  .admin-form-input-type-select {
    @apply w-full rounded border bg-white px-3 py-2 leading-tight text-gray-700 shadow;
  }

  .admin-form-input-caption {
    @apply mt-1 select-none text-[11px] md:text-[13px] lg:mt-1.5 lg:text-sm;
  }

  .admin-form-description {
    @apply w-full rounded border p-2.5 leading-tight text-gray-700 shadow;
  }
}

/* App Container */
#page-content {
  @apply relative mt-[60px] md:mt-[120px];
}

/* Loading Animation on Page Change */
@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-bar {
  animation: progress-bar 2s linear infinite;
}
