@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg-color-primary: #f5f5fa;
  --app-text-color-primary: #333333;

  --app-background-overlay-transparent-black: #0000009e;

  --app-navlink-color: #4d5168;

  --app-text-color-red: #ff5454;
  --app-text-color-crimson: #ff204e;
  --app-text-color-red-orange: #ff5b3b;
  --app-text-color-bright-pink: #ff526e;
  --app-text-color-vibrant-pink: rgb(255, 82, 110);
  --app-text-color-pinkish-red: rgba(255, 32, 78, 1);

  --app-text-color-stone-gray: #9d9d9d;
  --app-text-color-medium-gray: #999;
  --app-text-color-slate-gray: #888888;
  --app-text-color-light-gray: #c9caca;
  --app-text-color-gray-light: #ccc;
  --app-text-color-silver-gray: #1e0808;
  --app-text-medium-dark-gray: #979797;
  --app-text-color-dim-gray: #666666;
  --app-text-color-darker-gray: #555;
  --app-text-color-charcoal-gray: #717171;
  --app-text-color-muted: #948084;
  --app-text-color-neutral-gray: #c6c6c6;
  --app-text-color-standard-gray: #666;
  --app-text-color-very-light-gray: #f9f9f9;

  --app-text-color-pale-silver: #eeeeee;

  --app-text-color-dark-slate: #404040;

  --app-text-color-near-white: #f8f8f8;
  --app-text-color-almost-white: #fafafa;

  --app-text-color-lavender-offwhite: #faf9fd;

  --app-border-color-gray: #d8d8d8;
  --app-border-color-light-gray: #eee;
  --app-border-color-medium-gray: #707070;

  --app-text-color-orange-yellow: #ffbd4f;
  --app-text-color-vibrant-golden: #ffbc00;
  --app-text-color-yellow: #ffe54c;

  --app-backdrop-color-black: #00000080;

  /* Nested Comment System Variables */
  --app-text-color-dark-grayish-green: #2a2e2e;

  --app-border-color-slightly-blue-gray: #c2c6cc;
  --app-border-color-grayish-blue: #dbdfe4;
}

body {
  @apply bg-white text-[var(--app-text-color-primary)];
}

@layer utilities {
  .font-noto-sans-sc {
    font-family: Noto Sans SC;
  }

  .hide-text {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Shadows */
  .soft-edge-shadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }

  .pink-lift-shadow {
    box-shadow: 0 3px 5px rgba(255, 32, 78, 0.3);
  }
}

/* App Container CSS */

#page-content {
  @apply relative mt-[60px] md:mt-[120px];
}
